* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
  font-family: "IBM Plex Sans", serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  -webkit-transition: 0.25s all ease-in-out;
  -o-transition: 0.25s all ease-in-out;
  transition: 0.25s all ease-in-out;
  scrollbar-color: rgb(209, 228, 246) white;
  scrollbar-width: thin;
  color: #1B2021;
}

body {
  background: #F4F3EE;
}

.header {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  background: #F4F3EE;
  z-index: 5;
  height: 60px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 40px;
}
.header__left {
  height: 34px;
}
.header__left img {
  height: 100%;
}
.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.header__right a {
  color: #1976D2;
  font-weight: 500;
}
.header__right a:hover {
  text-decoration: underline;
}
.header__hr {
  height: 20px;
  width: 2px;
  background: #1B2021;
}

.copy {
  position: fixed;
  z-index: 5;
  top: 60px;
  right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  background: #E6FAE6;
  width: 600px;
  height: 40px;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #30343F;
  cursor: default;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}
.copy p {
  font-size: 16px;
}

.main {
  padding-top: 100px;
  padding-bottom: 100px;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.links {
  margin-top: 16px;
  padding: 16px;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 16px;
  width: 100%;
  background: #fff;
}
.links-mobile {
  border: 2px solid #30343F;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
.links-mobile .links__right {
  position: absolute;
  top: 16px;
  right: 16px;
  height: 30px;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.links-mobile .links__right p {
  display: none;
}
.links-mobile .links__middle {
  width: 100%;
}
.links-mobile .links__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.links__left {
  width: 148px;
}
.links__left p {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  white-space: nowrap;
  color: rgb(25, 118, 210);
}
.links__middle {
  width: calc(100% - 300px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px 12px;
}
.links__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  font-size: 16px;
  color: #191C1F;
  position: relative;
}
.links__link p {
  font-size: 16px;
}
.links__link-first .links__table {
  position: relative;
}
.links__table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  height: 22px;
  border-radius: 4px;
  padding: 2px 4px;
  background: #EEF1F8;
  background: #1976D2;
  color: #191C1F;
  cursor: pointer;
}
.links__table span {
  color: #fff;
}
.links__table svg {
  width: 15px;
  height: auto;
  fill: #4791DB;
  fill: #fff !important;
}
.links__window {
  position: absolute;
  bottom: -90px;
  right: 0px;
  padding: 12px;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  border: 1px solid #30343F;
  opacity: 0;
  -webkit-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
  display: none;
  z-index: 2;
}
.links__name {
  margin: 0px 0px 0px auto;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: rgb(25, 118, 210);
  text-align: right;
}
.links__descr {
  margin: 0px 0px 4px auto;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  white-space: nowrap;
  color: rgb(177, 177, 177);
  text-align: right;
}
.links__time {
  margin-left: auto;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  white-space: nowrap;
  color: rgb(25, 28, 31);
  text-align: right;
}
.links__right {
  width: 120px;
  height: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  padding: 4px 8px;
  background-color: #1976d2;
  border-radius: 6px;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.links__right p {
  color: #fff;
}
.links__right svg {
  width: 22px;
  height: 22px;
  min-width: 22px;
  min-height: 22px;
}
.links__right:hover {
  opacity: 0.8;
}

.slider {
  overflow: hidden;
  margin-top: 20px;
}
.slider__wrapper {
  position: relative;
}
.slider__slide {
  border-radius: 8px;
  width: 812px;
  cursor: pointer;
  border: 2px solid #30343F;
}
.slider__slide img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.slider__slide-last {
  margin-right: 0px !important;
}
.slider__tab {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  padding-top: 10px;
}
.slider__left, .slider__right {
  width: 34px;
  height: 34px;
  min-width: 34px;
  min-height: 34px;
  background-color: #1976d2;
  border-radius: 50%;
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: 18px;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.slider__left:hover, .slider__right:hover {
  background-color: #3a94ef;
}
.slider__pagination {
  -webkit-transform: translateY(7px);
      -ms-transform: translateY(7px);
          transform: translateY(7px);
  position: relative;
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
}

.promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 100px;
}
.promo__left {
  width: 300px;
}
.promo__left img {
  width: 100%;
  border-radius: 8px;
  border: 2px solid #30343F;
}
.promo__right {
  width: calc(100% - 340px);
  padding-top: 20px;
}
.promo__right h1 {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: #1976d2;
  margin-bottom: 10px;
}
.promo__right h2 {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 10px;
}

.reviews {
  padding-top: 100px;
}
.reviews h2 {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: #1976d2;
  margin-bottom: 10px;
}
.reviews__block {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 20px;
}
.reviews__card {
  width: 100%;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 6px;
  border: 2px solid #30343F;
}
.reviews__card h4 {
  font-weight: 500;
  color: #1976d2;
}
.reviews__card span {
  font-size: 12px;
  color: #878787;
  font-style: italic;
}
.reviews__card p {
  margin-bottom: 0px;
}
.reviews__picture {
  width: 40px;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}
.reviews__picture img {
  width: 100%;
}

.faq {
  padding-top: 100px;
}
.faq h2 {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: #1976d2;
  margin-bottom: 20px;
}
.faq__head {
  padding: 14px 25px;
  border-radius: 8px;
  max-width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin-bottom: 10px;
  gap: 10px;
  background: rgb(25, 118, 210);
}
.faq__head h2 {
  color: rgb(255, 255, 255);
  -webkit-transform: translateY(1px);
      -ms-transform: translateY(1px);
          transform: translateY(1px);
  margin-bottom: 0px;
  font-size: 15px;
  line-height: 1.4;
  font-weight: 500;
  display: block;
}
.faq__head svg {
  width: 10px;
  min-width: 10px;
  height: auto;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  fill: #fff !important;
}
.faq__head:hover {
  background-color: rgb(25, 137, 235);
}
.faq__card {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  border: 1px solid rgba(236, 246, 255, 0);
  border-radius: 10px;
  margin-bottom: 20px;
  max-height: 0px;
  overflow: hidden;
  padding: 0px 20px;
  margin: 0px;
  border: 1px solid rgba(255, 255, 255, 0);
}
.faq__card-last {
  margin-bottom: 20px;
}
.faq__card-active {
  border: 2px solid #30343F;
  background: #fff;
  padding: 20px;
  margin-bottom: 20px;
  max-height: 700px;
}
.faq__card * {
  line-height: 1.4;
}
.faq__card ul, .faq__card ol {
  padding-left: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.faq__card ul li {
  position: relative;
}
.faq__card ul li::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background: rgb(121, 192, 255);
  left: -16px;
  border-radius: 10px;
  top: 6px;
}
.faq__card h3 {
  font-size: 14px;
  font-weight: 500;
  color: #000;
  margin-bottom: 6px;
}
.faq__card strong {
  font-weight: 500;
  display: block;
}
.faq__card p {
  margin-bottom: 0px;
}

.article {
  border: 2px solid #30343F;
  margin-top: 20px;
  border-radius: 8px;
  padding: 20px;
  background: #fff;
}
.article h1 {
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 10px;
  border-bottom: 2px solid #30343F;
  margin-bottom: 20px;
}
.article h2 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 6px;
}
.article p {
  margin-bottom: 20px;
}

@media (max-width: 1024px) {
  .main {
    overflow: hidden;
  }
  .header {
    padding: 20px 16px;
  }
  .header__right {
    position: fixed;
    z-index: 5;
    bottom: 10px;
    left: 10px;
    gap: 16px;
    width: calc(100% - 20px);
    padding: 16px;
    background-color: white;
    border-radius: 8px;
    -webkit-box-shadow: rgba(25, 118, 210, 0.32) 8px 12px 32px 0px;
            box-shadow: rgba(25, 118, 210, 0.32) 8px 12px 32px 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main {
    padding-top: 80px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .copy {
    width: calc(100% - 20px);
    left: 10px;
    right: 10px;
    z-index: 3;
  }
  .links {
    gap: 12px;
  }
  .links-desktop {
    display: none;
  }
  .links-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .links__middle {
    gap: 4px;
  }
  .links__link {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .links__window {
    z-index: 2;
  }
}
@media (max-width: 800px) {
  .reviews__block {
    gap: 14px;
  }
  .promo__left {
    width: 25%;
  }
  .promo__right {
    width: 70%;
    padding-top: 0px;
  }
}
@media (max-width: 540px) {
  .promo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 40px;
  }
  .promo__left {
    width: 100%;
    margin-bottom: 20px;
  }
  .promo__left img {
    max-width: 220px;
  }
  .promo__right {
    width: 100%;
  }
  .reviews {
    padding-top: 60px;
  }
  .reviews__block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .reviews__card {
    width: 100%;
  }
  .faq {
    padding-top: 60px;
  }
  .links__left p {
    font-size: 16px;
  }
}